<!-- Generates a list of cards for the book data -->
<div class="grid-container">
    {% for book in books %}
    <div class="grid-item">
        <div class="card card-c">
            <div class="card-image item-i">
                <img class="book-img"
                    src="{{ 'static/images/amazon_scrapper/' + book.img_name }}"
                    alt="{{ img_name }}"
                    onerror="imgError(this);"
                    >
            </div>
            <div class="item-b">
                <span class="span-title">{{ book.title }}</span>
                <div class="book-content">
                    <span class="span-content"></span>
                    <b>Author: </b>{{ book.author }}<br>
                    <b>Format: </b>{{ book.format }}<br>
                    <b>Rating: </b>{{ book.rating }} ({{ book.num_of_reviews }})<br>
                    <b>Price: </b>{{ book.price }}
                    </span>
                </div>

            </div>
            <div class="item-f">
                <div class="footer-content">
                    <input type="hidden" class="inp_data" value="{{ json_data[loop.index-1] }}">
                    
                    <a class="btn-floating btn-small waves-effect waves-light btn-edit "><i
                            class="material-icons">edit</i></a>
                    <a class="btn-floating btn-small waves-effect waves-light btn-delete "><i
                            class="material-icons">delete</i></a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="grid-item">
        <div class="card card-l">
            <a class="card-image" id="btn_add" style="cursor: pointer;">
                <img style="height: 80px;width: 80px;"
                src="{{ url_for('static', filename='images/other/add_circle_outline2.png') }}" 
                alt="add_circle">
            </a>
        </div>
    </div>
</div>
<script>
    //imgError sets a default image in case of a image fetch failure.

    function to_json(data){
        return JSON.stringify(data);
    };
    function imgError(image) {
    image.onerror = "";
    image.src = "static/images/other/default.jpg";
    return true;
    }
</script>